{
  "env": {
    "es2021": true,
    "jest": true,
    "node": true
  },
  "extends": "eslint:recommended",
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "babelOptions": {
      "presets": [
        ["@babel/preset-env", { "targets": { "node": "current" } }],
        "@babel/preset-typescript"
      ]
    },
    "requireConfigFile": false,
    "sourceType": "module"
  },
  "rules": {
    "no-undef": "off"
  }
}
