html {
  background: #111;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  color: #ddd;
  background: #181818;
  line-height: 1.5;
}

:root {
  font-size: 16px;
}

code {
  font-family: Consolas, monospace;
  background-color: #333;
  padding: 4px;
  border-radius: 4px;
}

pre code {
  padding: 0;
  background-color: transparent;
  border-radius: 0;
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}

.header {
  top: 0;
  position: sticky;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #111;
  height: 128px;
}

.github-link {
  flex: 0 0 auto;
  margin-left: auto;
  color: inherit;
  padding: 4px;
  border-radius: 99999px;
}

.github-link:hover {
  background-color: #222;
}

.header-content {
  padding: 0.5rem 1rem;
  margin: auto;
  display: flex;
  width: 640px;
  max-width: 100%;
  display: flex;
  align-items: center;
}

.logo {
  color: inherit;
  text-decoration: none;
}

.logo h1 {
  flex: 0 0 auto;
  font-size: 32px;
  margin: 0;
  margin-right: 1rem;
}

.search {
  flex: 1 1 auto;
  width: 640px;
  background-color: #333;
  color: inherit;
  border: none;
  border-radius: 4px;
  padding: 1rem;
  margin-right: 1rem;
}

@media (max-width: 425px) {
  .search {
    display: none;
  }

  .search-label {
    display: none;
  }
}

.nav {
  position: fixed;
  top: 72px;
  max-height: calc(100vh - 72px);
  overflow: auto;
  padding: 1rem;
}

@media (max-width: 1024px) {
  .nav {
    display: none;
  }
}

.jump-to {
  margin: 0;
  margin-top: 3rem;
  font-size: 18px;
  font-weight: bold;
}

.search-label {
  margin-right: 1rem;
  flex: 0 0 auto;
}

.list {
  list-style-type: none;
  padding: 0;
}

.list > * + * {
  margin-top: 0.5rem;
}

.nav-link {
  color: #ccc;
  text-decoration: none;
}

.nav-link strong {
  color: #fff;
}

.nav-link:hover {
  text-decoration: underline;
}

.main {
  margin-bottom: 3rem;
}

.readme {
  margin: 0 auto;
  padding: 1rem;
  width: 640px;
  max-width: 100%;
}

.demo-pic {
  margin: 0 auto;
  padding: 1rem;
  width: 640px;
  max-width: 100%;
}

.empty-state {
  margin: 0 auto;
  margin-top: 3rem;
  padding: 1rem;
  width: 640px;
  max-width: 100%;
  display: flex;
  text-align: center;
}

.empty-state-text {
  font-size: 32px;
  text-align: center;
  margin: auto;
}

.card {
  margin: 0 auto;
  margin-top: 3rem;
  padding: 1rem;
  width: 640px;
  max-width: 100%;
  border-radius: 4px;
  scroll-margin-top: 88px;
  background-color: #222;
}

@media (max-width: 640px) {
  .card {
    box-shadow: none;
    border: none;
    background: none;
    border-bottom: 1px solid #333;
    margin-top: 0;
  }
}

.function-name {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.function-name a {
  text-decoration: none;
}

@media (max-width: 425px) {
  .function-name {
    font-size: 18px;
  }
}

.function-identifier {
  color: dodgerblue;
}

.return-type {
  color: cadetblue;
}

.readme h1 {
  font-size: 72px;
  font-weight: bold;
  text-align: center;
}

.readme h1 a {
  text-decoration: none;
}

.readme table {
  width: 100%;
}

blockquote {
  border-left: 5px solid lightgray;
  margin: 0;
  padding: 0 2rem;
}

th,
td {
  text-align: left;
  padding: 0.25rem 0.5rem;
}

pre {
  background-color: #222;
  padding: 1rem;
  border-radius: 4px;
  max-width: 100%;
  overflow: auto;
}

.api-docs-start {
  scroll-margin-top: 88px;
}

.spacer {
  height: 80vh;
}

.go-to-implementation {
  color: inherit;
  margin-top: 1.5rem;
  padding: 0.5rem;
}

.card-table {
  margin-bottom: 1rem;
}

.repl {
  margin: 0 auto;
  background-color: black;
  display: block;
  width: 640px;
  max-width: 100%;
  border: none;
  resize: vertical;
  color: inherit;
  font-family: Consolas, monospace;
  padding: 1rem;
}

.demo-image {
  width: 640px;
  max-width: 100%;
}
